* {
    font-family: "Nunito", sans-serif;
}
.classroom-container {
    width: 1450px;
    height: 750px;
    backdrop-filter: blur(10px);
    border-radius: 39px;
    display: flex;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.new-room-container{
    width: 100%;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.new-room-button{
    width: 146px;
    height: 50px;
    height: 58px;
    background: #39A37C;
    border: none;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}

.dashboards-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.search-classroom-container{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    
    padding-left: 50px;
    padding-right: 50px;
}

.search-classrooms-input:focus{
    border: none;
    outline: none;
}

.search-classrooms-input{
    width: 85%;
    border: none;
    height: 100%;
    font-size: 25px;
    color: #333;
    padding: 30px;
    background-color: #FFF;
    border-radius: 10px;
    
}

.button-search-classrooms{  
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-left: 2px solid #39A37C;
    border-right: 2px solid #39A37C;
    border-radius: 10px;
    background-color: none;
    background-color: #0A102D;
    cursor: pointer;
}   

.icon-search-classrooms{
    fill: #39A37C !important;
    font-size: 30px !important;
}

.label-search-classrooms{
    font-weight: 800;
    color: #39A37C;
    font-size: 20px;
    
}

