.newroom-container {
    width: 100vw;
    background-color: #0A102D;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newroom-body {
    background-color: white;
    width: 90%;
    height: 90%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    border-radius: 50px;
}


.newroom-body h1 {
    font-size: 4em;
}

.newroom-line-container {
    width: 100%;
    height: 50%;
    display: grid;
}

.newrooom-line {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-between ;
    gap: 3%;
    padding-left: 5%;
    padding-right: 5%;

}

.newroom-body .newroom-label {
    font-size: 1.5em;
    font-weight: 700;
    width: 50%;
    display: grid;
    gap: 10%;
    height: 100%;
    align-items: flex-end;
}

.newroom-body .register-classroom-label {
    font-size: 1.5em;
    font-weight: 700;
    width: 50%;
    display: grid;
    gap: 10%;
    height: 100%;
    align-items: flex-end;
}


.newroom-body .newroom-label input{
    font-size: 50%;
    padding-left: 2%;
    border: 1px solid #c4bcbc;
    border-radius: 10px;
    height: 53px;
    width: 100%;
}

.newroom-body .newroom-label input:focus{
    border: 1px solid #c4bcbc;
    outline: none;
}

.register-room-container {
    padding-top: 5%;
}

.newroom-body .register-classroom-label button{
    padding-left: 2%;
    border-radius: 10px;
    height: 53px;
    width: 100%;
}

.register-room-button{
    width: 50%;
    height: 55%;
    background: var(--green-primary);
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    color: var(--white-primary);
    font-weight: 700;
}
