.dashboard {
    border-radius: 10px;
    display: grid;
    gap: 30px;
    justify-content: space-between;
    padding: 30px 30px 30px 60px;
    height: 100%;
    width: 450px;
    background-color: #fff;
}

.dashboard .students-quantity-label{
    font-weight: 500;
}

.dashboard .students-quantity{
    font-size: 50px;
}