* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
  }
  

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-color: #0A102D;
  background-position: center;
}